/* Import styles */


/* Overpass */

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');

/* Ubuntu */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

/* Custom Properties  */

:root {
    /* Primary */
    --light-red: hsl(356, 100%, 66%);
    --v-light-red-h-background: hsl(355, 100%, 74%);
    --very-dark-blue: hsl(208, 49%, 24%);
    /* Neatral */
    --white-text: hsl(0, 0%, 100%);
    --grayish-blue: hsl(240, 2%, 79%);
    --very-dark-gray-blue: hsl(207, 13%, 34%);
    --very-dark-black-blue: hsl(240, 10%, 16%);
    /* Gradient */
    /* Background gradient - Intro/CTA mobile nav: */
    --gradient-v-light-red: hsl(13, 100%, 72%);
    --gradient-light-red: hsl(353, 100%, 62%);
    /* Background gradient - body: */
    --gradient-v-dark-blue: hsl(237, 17%, 21%);
    --gradient-desaturated-blue: hsl(237, 23%, 32%);
}


/* Resets */

html {
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    /* prevent side scroll */
    max-width: 100%;
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


/* Safari overlooks overflow when rendering, so add to body tag */

body {
    overflow-x: hidden;
}

.header {
    /* t-r-b-l */
    padding: 5rem 8rem 10rem 8rem;
    list-style: none;
    border-bottom-left-radius: 10rem;
    /* svg as background img + linear gradient */
    background: url(../images/bg-pattern-intro.svg) 24% 52%, linear-gradient(to right, var(--gradient-v-light-red), var(--gradient-light-red));
    /* set svg background size */
    background-size: 175rem;
    overflow: hidden;
}


/* Just couldn't get the Navbar logo working correctly with the spaces,
this works butsure there is a better way to do this.
*/

.logo_one {
    display: none;
}

.logo {
    cursor: pointer;
    margin-right: 2rem;
}

.nav-menu {
    white-space: nowrap;
    list-style-type: none;
    /* First three items left of screen */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


/* Submenu */


/* Line on moblile menu between login / sign up / other items */

.space {
    display: none;
}


/* login / sign up left of screen */

nav li:nth-child(6) {
    margin-left: auto;
}

.main-item {
    font-family: 'Ubuntu';
    text-decoration: none;
    cursor: pointer;
    /* Space between links */
    margin: 0 1.9rem;
    color: var(--white-text);
    font-size: 2rem;
    transition: all 0.3s ease 0s;
}


/* Raise affect nav items when hovered over */

li:hover {
    transform: translateY(-0.1rem) scale(1.1);
    transform: scale(1.03);
    text-decoration: underline;
    color: white;
    text-decoration-thickness: 0.13rem;
}

a {
    text-decoration: none;
    cursor: pointer;
}

li>a {
    color: var(--very-dark-black-blue);
}


/* Button styles */

.btn {
    width: 10rem;
    height: 3.8rem;
    background-color: var(--white-text);
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #FC7D88;
    font-size: 2rem;
    font-family: 'Ubuntu';
    align-items: center;
}


/* on hover over button zoom */

button:hover {
    background-color: #FC7D88;
    color: var(--white-text);
    /* colour text on transition */
    color: white;
}


/* Bottom buttons */

.flex-parent {
    display: flex;
}

.flex-child {
    flex: 1;
    white-space: nowrap;
    /* t-r-b-l */
    margin: 3rem 0 0 1.5rem;
    /* set w & h to keep button same size regardless of content */
    width: 12rem;
    height: 4rem;
    text-align: center;
    background-color: var(--white-text);
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #FC5F64;
    font-size: 1.5rem;
    font-family: 'Ubuntu';
    align-items: center;
}


/* Hamburger styles */

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 4rem;
    height: 0.3rem;
    margin: 0.6rem auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}


/* submenu */

.active .item {
    display: block;
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    /* t-r-b-l */
    /* margin: 1rem 0 0 9rem; */
    margin-top: 1rem;
    list-style: none;
    color: var(--very-dark-black-blue);
    background-color: var(--white-text);
    font-size: 1.6rem;
    width: 15rem;
    /* t-r-b-l */
    padding: 1.4rem 0 1.4rem 1.4rem;
    /* spacing between submenu items */
    line-height: 1.8;
    border-radius: 0.2rem;
    text-decoration: none;
    font-family: 'Ubuntu';
    text-decoration: none;
    border-radius: 0.4rem;
}

.submenu-active .submenu {
    display: block;
}

.has-submenu i {
    font-size: 12px;
}

.toggle i {
    /* order: 1; */
    font-size: 3rem;
    color: white;
}


/* Sub Header */

.sub-header {
    /* Centre header */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    gap: 1ch;
    margin-top: 8rem;
}

.main-h {
    font-family: 'Overpass';
    font-weight: 300;
    font-size: 5rem;
    color: var(--white-text);
    /* allign text center */
    text-align: center;
}

.main-p {
    font-family: 'Overpass';
    color: var(--white-text);
    font-weight: 200;
    margin-top: 1.5rem;
    font-size: 2rem;
    line-height: 1.6;
    /* allign text center */
    text-align: center;
}


/* First section */


/* Grid  */

.wrapper {
    display: grid;
    /* Two equal columns */
    grid-template-columns: repeat(2, minmax(0, 1fr));
    position: relative;
    width: 85%;
    /* Centre content on page*/
    top: 8rem;
    left: 0;
    right: 0;
    margin: auto;
}


/* Designed for the future */

.sub-h {
    /* Centre header */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    gap: 1ch;
    margin-top: 10rem;
    margin-bottom: -1rem;
    font-family: overpass;
    font-size: 4rem;
    color: var( --very-dark-blue);
}


/* Column one */

.col-one {
    margin-top: 4.5rem;
}

.first-htwo {
    margin-bottom: 2rem;
    font-size: 3rem;
    font-family: overpass;
    color: var( --very-dark-blue);
}

.sub-p {
    margin-bottom: 8rem;
    font-size: 2rem;
    font-family: overpass;
    color: var(--very-dark-gray-blue);
}


/* Column two */

.col-two {
    margin-top: -16rem;
    margin-left: 7.5rem;
}

.svg-img {
    height: 85rem;
    width: auto;
}

.svg-img-mob {
    display: none;
}


/* Infrastrucutre
These additional grid wrappers are unnecessary!
Remember for next time
*/

.infra {
    display: grid;
    /* wasn't sure how to flip this to match the design */
    background: url(../images/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    /* Two equal columns */
    grid-template-columns: repeat(2, minmax(0, 1fr));
    /* padding: 15rem; */
    width: 100%;
    height: 39rem;
    margin-top: 12rem;
    background-color: #393B55;
    border-bottom-left-radius: 8rem;
    border-top-right-radius: 8rem;
}

.second-htwo {
    margin-bottom: 2rem;
    font-size: 3rem;
    font-family: overpass;
    color: var(--white-text);
}

.sub-p-two {
    margin-bottom: 8rem;
    font-size: 2rem;
    font-family: overpass;
    color: var(--grayish-blue);
}

.col-three {
    margin-top: -7rem;
    margin-left: 4.5rem;
}

.col-four {
    margin-top: 11rem;
    width: 85%;
}


/* laptop img -> third section */

.laptop {
    /* t-r-b-l */
    display: grid;
    margin-top: 11rem;
    /* Two equal columns */
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.svg-img-mob-two {
    display: none;
}

.col-five {
    margin-top: -2rem;
    margin-left: -24.9rem;
}

.col-six {
    margin-top: 14rem;
    width: 85%;
}

.svg-img-three {
    height: 70rem;
    width: auto;
}


/* Footer section */

.footer .container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    width: 100%;
    height: 39rem;
    margin-top: 10rem;
    background-color: var(--very-dark-black-blue);
    border-top-right-radius: 8rem;
}

.footer-links>a {
    text-decoration: none;
    font-size: 2rem;
    font-family: overpass;
    color: var(--grayish-blue);
    font-size: 1.6rem;
    /* t-r-b-l */
    margin: 1rem 0 1rem 0;
}

.footer-links>a:hover {
    text-decoration: underline;
    color: white;
    text-decoration-thickness: 0.13rem;
}

.footer-links {
    display: flex;
    flex-direction: column;
    /* t-r-b-l */
    margin: 6.5rem 0 0 5rem;
}

.footer-links>h2 {
    color: white;
    cursor: pointer;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-family: overpass;
    color: var(--white-text);
}

.logo_footer {
    height: 5rem;
    width: 12rem;
}

.logo_footer:hover {
    cursor: pointer;
    transform: translateY(-0.1rem) scale(1.1);
    transform: scale(1.03);
}


/* Breakpoints */

@media only screen and (max-width: 70em) {
    .wrapper {
        display: flex;
        flex-direction: column;
    }
    .svg-img-mob {
        display: flex;
        width: 100%;
    }
    .svg-img {
        display: none;
    }
    .sub-h {
        margin-top: 5rem;
        margin-bottom: -5rem;
    }
    .col-one {
        /* Change column order */
        order: 2;
        /* centre text */
        text-align: center;
    }
    .col-two {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        gap: 1ch;
        margin-top: 0;
        margin-bottom: -1rem;
        margin-left: 0;
    }
    .sub-p {
        margin-bottom: 4rem;
    }
    /* .sub-h {} */
    .svg-img {
        height: 70rem;
        width: auto;
    }
    .infra {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 30rem;
        height: 55rem;
        /* centre text */
        align-items: center;
    }
    .col-three {
        margin-top: -18rem;
        margin-left: -0.5rem;
    }
    .col-four {
        margin-top: -3rem;
        /* centre text */
        text-align: center;
    }
    .svg-img-two {
        width: 100%;
        /* height: 52rem; */
    }
    .laptop {
        display: flex;
        flex-direction: column;
    }
    .col-five {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        gap: 1ch;
        margin-top: -7rem;
        margin-bottom: 2rem;
        margin-left: 0;
    }
    .svg-img-three {
        display: none;
    }
    .svg-img-mob-two {
        display: flex;
        width: 100%;
    }
    /* col-five */
    .col-six {
        text-align: center;
        margin: auto;
    }
}


/* Nav Header / Top Heading / Footer at smaller breakpoint */

@media only screen and (max-width: 42em) {
    .sub-h {
        font-size: 3.5rem;
    }
    .footer .container {
        display: grid;
        /* colapse grid to one column */
        grid-template-columns: 1fr;
        text-align: center;
        /* fill container with content */
        height: 100%;
    }
    .footer-links {
        margin: auto;
        margin-bottom: 5rem;
    }
    .logo_footer {
        /* t-r-b-l */
        margin: 8rem 0 3rem 0;
    }
}


/* Images at mobile device size */

@media only screen and (max-width: 40em) {
    .svg-img-mob-two {
        display: flex;
        height: 100%;
        width: 58rem;
    }
    .svg-img-mob {
        display: flex;
        height: 100%;
        width: 48rem;
    }
}


/* Navigation Menu */

@media only screen and (max-width: 50em) {
    nav {
        display: flex;
        justify-content: flex-end;
    }
    /* remove logo */
    .logo {
        display: none;
    }
    /* add flex logo */
    .logo_one {
        display: flex;
        cursor: pointer;
    }
    .nav-menu {
        position: fixed;
        padding: 2rem;
        right: -100%;
        flex-direction: column;
        background-color: #fff;
        width: 35rem;
        border-radius: 1rem;
        text-align: center;
        align-items: center;
        /* This creates a slide in affect */
        /* transition: 0.5s; */
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .nav-menu.active {
        /* Centre collapsable menu */
        position: absolute;
        top: 10rem;
        left: 50%;
        transform: translateX(-50%);
    }
    /* Reset login / sign up position */
    nav li:nth-child(6) {
        margin-left: 0;
    }
    /* Submenu */
    .submenu {
        position: relative;
        background-color: #EFEFF1;
        padding: 1.4rem 0 1.4rem 0;
        width: 27rem;
        /* t-r-b-l */
        margin-top: 1.5rem;
        line-height: 2.2;
    }
    /* Line seperating login / sign up */
    .space {
        display: block;
        margin: 0.5rem 0;
        border: 0.1rem solid var(--grayish-blue);
        border-radius: 0.1rem;
        width: 100%;
        margin-left: 0;
    }
    .main-item {
        color: var(--very-dark-black-blue);
    }
    .nav-item {
        margin: 0.5rem 0;
    }
    /* space between menu items */
    .item {
        margin-bottom: 2rem;
    }
    li:hover {
        text-decoration: none;
        color: inherit;
    }
    .hamburger {
        position: relative;
        margin-left: auto;
        display: block;
        cursor: pointer;
    }
    /* Hamburger transition */
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(0.9rem) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-0.9rem) rotate(-45deg);
    }
}


/* iPhone 8 images and top line header */

@media only screen and (max-width: 375px) {
    .sub-h {
        font-size: 3.1rem;
    }
    .svg-img-mob {
        width: 40rem;
    }
    .svg-img-mob-two {
        width: 50rem;
    }
}


/* Nav menu at small mobile device  */

@media only screen and (max-width: 320px) {
    .nav-menu {
        width: 90%;
    }
    .svg-img-mob {
        width: 35rem;
    }
    .svg-img-mob-two {
        width: 45rem;
    }
    .sub-h {
        font-size: 2.8rem;
        white-space: nowrap;
    }
}
